html {
  font-family: sans-serif;
}

body {
  /* width: 300px; */
  /* max-width: 750px; */
  min-width: 480px;
  margin: 0 auto;
  background-color: #212121;
}

.nav {
  background-color: #454545;
  width: screen;
}

.nav a {
  background-color: #ababab;
}

.lastResult {
  color: white;
  padding: 7px;
}

.guesses {
  color: white;
  padding: 3px 6px;
}

button {
  background-color: #141414;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
  /* margin-left: 50px; */
}

#subt {
  background-color: #343434;
  color: #ffffff;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  font-size: 20px;
  border: 3px #212121 solid;
  margin: 20px 0;
  transition: all 50ms;
}

#subt:hover {
  background-color: #212121;
}

#subt:active {
  opacity: 0.7;
}

#guessField {
  color: #000;
  width: 250px;
  height: 50px;
  font-size: 28px;
  border-style: none;
  border-radius: 10px;
  margin-top: 25px;

  /* margin-left: 50px; */
  border: 5px solid #6c6d6d;
  text-align: center;
}

#guess {
  font-size: 36px;
  font-weight: 500;
  /* margin-left: 90px; */
  margin-top: 120px;
  color: #fff;
}

.guesses {
  background-color: #7a7a7a;
  border-radius: 5px;
}

#wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  max-width: 400px;
  height: 550px;
  background-color: #474747;
  color: #fff;
  font-size: 25px;
  border-radius: 15px;
}

h1 {
  background-color: #343434;
  padding: 8px 0;
  color: #fff;
  text-align: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

p {
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

.resultParas p {
  font-size: 16px;
  font-style: normal;
}

.lowOrHi {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
